<!DOCTYPE html>
<html>
   <head>
       <style type="text/css">
           body {text-align: center}
           div {width: 100%; height: 100%; vertical-align: middle}
           a {border-width: 1; border: solid; text-align: center; line-height: 400pt; font-size: 40pt; padding: 10pt; font-color: #000}
       </style>
</head>
<body>
   <div>
       <a href="itms-services://?action=download-manifest&url=https://drive.google.com/open?id=0B-9WHb2ybBFqeERMU2w3SG9PZ2c" id="text">Install DEM</a>
   </div>
</body>
<html>